*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 100vh;
    padding:0 3rem;
    text-align: center;
    background-color: #BCBDC0;
}

img{
    width:100%;
    border:4px solid #565857;
}

.container {
    width:92%;
    max-height: 90rem;
    background-color:#8A8D91 ;
    padding: 2rem;
} 

h1{
    font-size: 2rem;
    
}

select,button{
       padding:0.5rem;
       font-size:0.8rem;
       width:100%;
       margin-top: 0.5rem;
       background-color: #565857;
       color: white;
       border: none;
       border-radius: 2rem;
       outline: none;
}

button{
   margin-bottom: 0.5rem; 
}
